<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mongo="http://www.springframework.org/schema/data/mongo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
            http://www.springframework.org/schema/data/mongo http://www.springframework.org/schema/data/mongo/spring-mongo.xsd">

    <context:component-scan base-package="com.comsysto.movie.repository" />

    <beans profile="cloudControl">
        <bean id="mongoTemplate"
              class="org.springframework.data.mongodb.core.MongoTemplate">
            <constructor-arg name="mongo" ref="mongo"/>
            <constructor-arg name="databaseName" value="cc_MTUWzOgBOtqt"/>
        </bean>

        <bean id="credentials"
              class="com.comsysto.movie.repository.mongodb.config.Credentials">
        </bean>

        <bean id="mongoURIString" class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
            <property name="targetObject"><ref local="credentials"/></property>
            <property name="targetMethod"><value>getCredential</value></property>
            <property name="arguments">
                <list>
                    <value>mongosoup_url</value>
                    <value>mongosoup</value>
                </list>
            </property>
        </bean>

        <bean id="mongoURI" class="com.mongodb.MongoURI">
            <constructor-arg><ref local="mongoURIString"/></constructor-arg>
        </bean>

        <bean id="mongo" class="com.mongodb.Mongo">
            <constructor-arg ref="mongoURI"/>
        </bean>
    </beans>

    <beans profile="local">
        <bean id="mongoTemplate"
              class="org.springframework.data.mongodb.core.MongoTemplate">
            <constructor-arg name="mongo" ref="mongo"/>
            <constructor-arg name="databaseName" value="movie"/>
        </bean>


        <mongo:mongo id="mongo" host="localhost">
            <mongo:options auto-connect-retry="true"
                           threads-allowed-to-block-for-connection-multiplier="20"/>
        </mongo:mongo>
    </beans>


</beans>